.questionBadge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 121px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #2c3e50;
  padding: 0 10px;
}

.fixedText,
.dynamicNumber {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.fixedText {
  width: auto;
  text-align: right;
  margin-right: 5px;
}

.dynamicNumber {
  text-align: left;
  flex-grow: 1;
}
