.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 876px;
  height: 56px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: rgba(237, 242, 244, 0.4);
  margin-bottom: 5px;
  padding: 0 5px 0 16px;
  transition: background-color 0.3s, border 0.3s;

  &:hover {
    background-color: rgba(96, 123, 150, 0.1);

    .hoverButton {
      display: block;
    }
  }

  &.incorrect {
    background-color: #f85050;

    .optionContent > span {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &.correct {
    border-color: #1abc9c;

    .optionContent > span {
      color: #1abc9c;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }

  &.highlightCorrect {
    border-color: #1abc9c;

    .optionContent > span {
      color: #1abc9c;
      color: #1abc9c;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}

.optionContent {
  display: flex;
  align-items: center;

  > span {
    color: #2c3e50;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 15px;
    transition: color 0.3s;
  }
}
