.questionContainer {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  height: 100%; /* Occupy full height of the parent */

  padding: 0px 27px 0px 24px;

  .question {
    flex: 1;
    width: 100%;
    max-width: 916px;
  }
  .anwser {
    flex: 1;
  }
}
