.button {
  display: flex;
  align-items: center;
  padding: 13px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  font-family: "Manrope";

  &.tool {
    background-color: #edf2f4;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &.solid {
    width: 116px;
    height: 42px;
    border-radius: 10px;
    background: #1ca78c;
    color: white;
    padding: 12px 30px;
  }

  &.gradient {
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: linear-gradient(180deg, #1abc9c 0%, #16a085 100%);
    color: white;

    .icon {
      margin-right: 6px;
    }
  }

  &.navigation {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background: #edf2f4;
    color: #2c3e50;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 0px;
    padding-left: 18px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
    }

    &.left {
      padding-left: 10px;
    }

    .iconLeft {
      margin-right: 8px;
    }

    &.right {
      padding-left: 18px;
    }

    .iconRight {
      margin-left: 8px;
    }
  }

  &.endTest {
    width: 134px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f7d54c;
    color: #2c3e50;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 7px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;

      margin-right: 12px;
    }
  }

  &.hoverButton {
    display: none;
  }
}
